name: "[Analysis - Infrastructure] TFSec To Github Security"

on:
  workflow_dispatch:
  push:
    branches: [ main, master ]
    paths:
      - "**.tf"
  schedule:
    # 8am every wednesday
    - cron: '0 8 * * 3'


permissions:
  actions: read
  checks: read
  contents: none
  deployments: none
  issues: none
  packages: none
  pull-requests: write
  repository-projects: none
  security-events: none
  statuses: none

jobs:
  tfsec_to_github_security:
    uses: ministryofjustice/opg-github-workflows/.github/workflows/analysis-infrastructure-tfsec-to-github-security.yml@main
    