# Generate Branch Names from GITHUB data
name: "[Data - Parse] Branch Name"

on:
  workflow_dispatch:
  workflow_call:
    inputs:
      push_to_github_env:
        description: 'Boolean to push the clean branch name into $GITHUB_ENV as $BRANCH_NAME'
        type: boolean
        default: true
    outputs:
      raw_branch_name:
        description: 'Raw branch name with slashes and other non alphanumeric chars left in place'
        value: ${{ jobs.extract.outputs.raw_branch }}
      parsed_branch_name:
        description: 'Parsed branch name with ONLY alphanumeric chars.'
        value: ${{ jobs.extract.outputs.parsed_branch }}

permissions:
  contents: read
  security-events: none
  pull-requests: none
  actions: none
  checks: none
  deployments: none
  issues: none
  packages: none
  repository-projects: none
  statuses: none

jobs:
  extract:
    name: 'Use github data to generate a clean branch name'
    runs-on: ubuntu-latest
    outputs:
      raw_branch: ${{ steps.parse.outputs.raw_branch }}
      parsed_branch: ${{ steps.parse.outputs.parsed_branch }}
    steps:
      - id: parse
        name: Parse branch name
        run: |
          if [ "${{ github.head_ref}}" == "" ]; then
            raw_branch="main"
            parsed_branch="main"
          else
            raw_branch=${{ github.head_ref }}
            parsed_branch=$( echo "${raw_branch}" | tr -cd '[:alnum:]')
          fi
          echo "EVENT: ${GITHUB_EVENT_NAME}"
          echo "REF: ${{ github.head_ref }}"
          echo "RAW BRANCH: ${raw_branch}"
          echo "PARSED BRANCH: ${parsed_branch}"

          echo "raw_branch=${raw_branch}" >> $GITHUB_OUTPUT
          echo "parsed_branch=${parsed_branch}" >> $GITHUB_OUTPUT

      - name: Push to GITHUB_ENV
        if: inputs.push_to_github_env
        run: |
          echo BRANCH_NAME=${{ steps.parse.outputs.parsed_branch }} >> $GITHUB_ENV
